/* import google fonts: source sans pro, zen dots, rubik, courier prime */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&family=Zen+Dots&display=swap');

/* 
font-family: 'Courier Prime', monospace;
font-family: 'Rubik', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Zen Dots', sans-serif;
*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

nav {
    display:flex;
    height:100px;
}
nav * {
    margin: 0;
    padding: 0;
}
#title {
    display:flex;
}
#title h1 {
    font-size:30px;
    font-family: 'Zen Dots', sans-serif;

    
}
#death-star-title {
    width: 90px;
    height: 80px;
}

